body {
  font-family: "Open Sans";
  text-align: center;
}
h2 {
  font-family: "Open Sans";
  margin: 20px 10px;
}
h1{
  margin: 0 auto;
  padding: 20px 0;
}
div{
  margin: 10px 0;
}
#answer{
  display:inline-block;
}
#headshot{
  padding: 20px;
}
#examples{
  margin: 20px 0 10px 0;
}
#courses{
  margin: 30px 0 10px 0;
}
.row{
  margin: 20px 0;
}
.col-lg-4{
  display: flex;
  flex-wrap: wrap;
}
.col-md-4{
  display: flex;
  flex-wrap: wrap;
}
b{
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#wrapper {
  width: 55%;
  height: 30%;
  display: inline-block;
  margin: 10px 5px;
  background: #FFFFFF;
  padding: 10px 15px;
  border-radius: 10px;
  border: 10px solid #FF0000;
  max-height: 30%;
  text-align: center;
  font-family: "Open Sans";
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  #wrapper {
    width: 80%;
    height: 30%;
    text-align: center;
  }
  #reset, #next{
    color: #FFFFFF;
    background-color: blue;
    size: 60px;
    border-radius: 8px;
    padding: 20px 24px;
    text-transform: uppercase;
    border-style: solid;
    margin: 10px 5px;

  }
  .button{
    width: 25%;
    height: 10%;
  }
  #next:hover, #reset:hover{
    background-color: #25638b;
  }
  #next:active, #rest:active{
    background-color: #86a4c4;
  }

  #next:disabled{
    background-color: #808080;
  }
  body {
    font-family: "Open Sans";
    text-align: center;
  }
  h2 {
    font-family: "Open Sans";
    margin: 20px 10px;
  }
  p{
    text-align:center;
    font-size: 20px;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #wrapper {
    width: 100%;
    height: 30%;
    text-align: center;
  }
  #reset, #next{
    color: #FFFFFF;
    background-color: blue;
    size: 60px;
    border-radius: 8px;
    padding: 20px 24px;
    text-transform: uppercase;
    border-style: solid;
    margin: 10px 5px;
    display:inline-block;
  }
  .button{
    width: 25%;
    height: 10%;
  }
  #next:hover, #reset:hover{
    background-color: #25638b;
  }
  #next:active, #rest:active{
    background-color: #86a4c4;
  }

  #next:disabled{
    background-color: #808080;
  }
  body {
    font-family: "Open Sans";
    text-align: center;
  }
  h2 {
    font-family: "Open Sans";
    margin: 20px 10px;
  }
  p{
    font-size: 20px;
  }
}

input[type="radio"]{
  margin: 5px 5px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

form{
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#logo{
  display: inline-block;
  float: right;
}
#reset, #next{
  color: #FFFFFF;
  background-color: #FF0000;
  size: 20px;
  border-radius: 8px;
  padding: 5px 24px;
  text-transform: uppercase;
  border-style: solid;
  margin: 10px 5px;
}
#next:hover, #reset:hover{
  background-color: #25638b;
}
#next:active, #rest:active{
  background-color: #86a4c4;
}
#next:disabled{
  background-color: #808080;
}
