.bg-light{
  background-color: #445D6E !important;
  text-decoration: none !important;
}
.navbar-brand, .navbar-link, .nav-link, .navbar-light{
  color: #FFF !important;
  text-decoration: none !important;
}

.jumbotron{
  background-color: #93C9ED;
  text-align: justify;
}

.btn, .btn-primary{
  background-color: #445D6E;
  border-color: #445D6E;
  color: #FFF;
  text-decoration: none;
}
.btn:hover, .btn-primary:hover{
  background-color: #703F8A;
  border-color: #703F8A;
  color: #FFF;
}
.card{
  background-color: #93C9ED;
  text-align: justify;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  background-color: #445D6E !important;
  border-color: #445D6E !important;
}
a{
  color: #2E3F4A;
  text-decoration: underline;
}
body {
  color: #2E3F4A;
  background-color: #8aabc1ab;
  font-family: "Open Sans";
  text-align: center;
  font-size: 1em;
  margin-bottom: 10%;
}
h2 {
  font-family: "Open Sans";
  margin: 20px 10px;
}
h1{
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
}
div{
  margin: 10px 0;
}
#answer{
  display:inline-block;
}
#headshot{
  padding: 20px;
}
#examples{
  margin: 20px 0 10px 0;
}
#courses{
  margin: 30px 0 10px 0;
}
.row{
  margin: 20px 0;
}
.col-lg-4{
  display: flex;
  flex-wrap: wrap;
}
.col-md-4{
  display: flex;
  flex-wrap: wrap;
}
b{
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.container{
  width: 100%;
  height: 30%;
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 15px;
  border-radius: 10px;
  max-height: 30%;
  text-align: center;
  font-family: "Open Sans";
}
.links{
  word-spacing: 10px;
  margin-left: 10px;
  margin-right:10px;
}
h5.card-title{
  font-weight:800 !important;
}

.apps{
  margin: 0px auto;
  display: flex;
  justify-content: center;
}
