.bg-light{
    background-color: #445D6E !important;
    text-decoration: none !important;
  }
  .navbar-brand, .navbar-link, .nav-link, .navbar-light{
    color: #FFF !important;
    text-decoration: none !important;
  }

button{
    background-color: #445D6E;
    border-color: #445D6E;
    color: #FFF;
    text-decoration: none;
  }
  button:hover, button:hover, .nav-link:hover{
    background-color: #703F8A;
    border-color: #703F8A;
    color: #FFF;
  }
  main{
      margin-right: auto;
      margin-left: auto;
  }
  .jumbotron{
    background-color: #93C9ED;
    padding: 10px;

  }
  body {
    color: #2E3F4A;
    background-color: #8aabc1ab;
    font-family: "Open Sans";
    text-align: center;
    font-size: 1em;
    margin-bottom: 10%;
    margin-left:auto;
    margin-right:auto;
  }

  .btn, .btn-primary{
    background-color: #445D6E;
    border-color: #445D6E;
    color: #FFF;
    text-decoration: none;
    margin: 20px 10px;
    width: 30%;
  }

  :root{
    --line-border-fill: #3498bd;
    --line-border-empty: #e0e0e0;
  }

  .container{
    text-align: center;
    
  }

  .progress-container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 350px;
    
  }

  .progress-container::before{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: 1;
  }
  
  .progress{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: 0.4s ease;
    z-index: 2;
  }


  .circle{
    background-color: #fff;
    color: #999;
    z-index: 10;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--line-border-empty);
    transition: .4s ease;
  }

  .circle.active{
    border-color: var(--line-border-fill);
  }

  .btn{
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
  }

  .btn:active{
    transform: scale(0.98);
  }

  .btn:focus{
    outline: 0;
  }

  .btn:disabled{
    background-color: var(--line-border-empty);
  }


  